.download-button-div {
    display: inline-block;
    position: relative;
    margin: 0 8px 0 0;
    width: 40px;
    height: 40px;
    align-content: center;
    align-items: center;
}
.download-button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    align-items: center;
    border: none;
}
.download-button:disabled,
.download-button[disabled] {
    cursor: default
}